img {
  width: 65px;
}

.homepage {
  background-color: #f3ede8;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.homepage-titles {
  font-family: "Italiana", serif;
  text-transform: uppercase;
  font-size: 20pt;
  margin-bottom: 0;
}

.featured {
  padding-bottom: 50px;
  font-family: "Belleza", sans-serif;
}

.poet-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.f1,
.f2,
.f3,
.f4 {
  margin-bottom: 10px;
}

.ellipsis {
  text-align: center;
}

button {
  font-family: "Belleza", sans-serif;
  background-color: #0000a0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px;
  border-radius: 3px;
}

.poet {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10pt;
  margin-top: 10px;
}

.poem-title {
  font-size: 16pt;
  margin-bottom: 0;
  margin-top: 20px;
}

span,
h5 {
  color: #0000a0;
  text-transform: uppercase;
}

.fname,
.fdates {
  margin: 5px;
}

.loading {
  font-family: "Belleza", sans-serif;
}
