.random-poem {
  padding-bottom: 50px;
  padding: 10px;
}


.random-poem h4 {
  cursor: default;
}

.loading {
  font-family: "Belleza", sans-serif;
}


@media only screen and (min-width: 992px){
  .random-poem p {
    font-size: 1.05rem;
  }
}

@media only screen and (min-width: 1600px){

  .random-poem p {
    font-size: 1.1rem;
  }
}