.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.about-title {
  font-size: 1.5rem;
}

.poem-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.about-poem {
  color: grey;
  text-align: center;
  font-size: 1.1rem;

}

h6 {
  font-size: 0.8rem;
}


.about-poet {
  color: black;
  text-align: center;
  align-self: end;

}

.about-info {
  font-size: 1.15rem;
}

.about-poesy {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-family: "Italiana", serif;
  font-size: 1rem;
}


@media only screen and (min-width: 768px){

  .about-info{
    max-width: 650px;
  }
}
