.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-family: "Italiana", serif;
  text-transform: uppercase;
  font-size: 18pt;
}

.about-poem {
  color: grey;
  font-family: "Belleza", sans-serif;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;

  font-size: 12pt;
}

.poem-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-poet {
  color: black;
  font-family: "Belleza", sans-serif;
  text-align: center;
  align-self: end;
  margin-top: 15px;
}

.about-info {
  margin-left: 150px;
  margin-right: 150px;
  font-family: "Belleza", sans-serif;
  font-size: 14pt;
}

span {
  text-transform: uppercase;
  font-size: 10pt;
  color: #0000a0;
}
