.header {
  background-color: #f3ede8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: "Italiana", serif;
  padding: 5px;
}

h1 {
  font-size: 2rem;
}

.poets-nav {
  font-size: 1.5rem;
}

.header-hr {
  margin: 0px 10px;
}
