

.footer {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  right: 0;
  z-index: 10;
  width: 90%;
  margin: 0 auto;
  background-color: #f3ede8;
  text-align: center;
  text-transform: uppercase;
  font-family: "Italiana", serif;
}


@media only screen and (min-width: 768px){
  .footer {
    width: 80%;
  }
}

@media only screen and (min-width: 1600px){

  .footer{
    width: 55%;
  }
}