.footer {
  /* double check fixed: */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Italiana", serif;
  background-color: #f3ede8;
  padding-top: 25px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f3ede8;
}
